# Python basics

## Basic arithmetics

In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
1 + 1

2

In [4]:
1 * 3

3

In [5]:
1 / 2

0.5

In [6]:
2 ** 4

16

In [7]:
2 + 3 * 5 + 5

22

In [8]:
(2 + 3) * (5 + 5)

50

In [9]:
4 % 2

0

In [10]:
5 % 2

1

In [11]:
var = 2

In [12]:
var

2

In [13]:
x = 2
y = 3

In [14]:
x = x + x

In [15]:
x

4

## Strings

In [16]:
' single quote'

' single quote'

In [17]:
" this is string"

' this is string'

In [18]:
" i can't go"

" i can't go"

In [19]:
x = 'hello'

In [20]:
x

'hello'

In [21]:
print(x)

hello

In [22]:
num = 12 
name = 'Sam'

In [23]:
print('My number is {} and my name is {}'.format(num, name))

My number is 12 and my name is Sam

In [24]:
print('My number is {one} and my name is {two}, more {one}'.format(one=num, two=name))

My number is 12 and my name is Sam, more 12

### Indexing in string

In [25]:
s = 'hello'

In [26]:
s[0]

'h'

In [27]:
s[4]

'o'

In [28]:
# slicing notation
s = 'abcdefghijk'

In [29]:
s[0:]

'abcdefghijk'

In [30]:
s[:3]

'abc'

In [31]:
# statrting d upto g (not including g)
s[3:6]

'def'

### Lists

In [32]:
[1, 2, 3]

[1, 2, 3]

In [33]:
['a', 'b', 'c']

['a', 'b', 'c']

In [34]:
my_list = ['a', 'b', 'c']

In [35]:
my_list

['a', 'b', 'c']

In [36]:
my_list.append('d')

In [37]:
my_list

['a', 'b', 'c', 'd']

In [38]:
my_list[0]

'a'

In [39]:
# start from 1 upto 3 (not including 3)
my_list[1:3]

['b', 'c']

In [40]:
my_list[0] = 'NEW'

In [41]:
my_list

['NEW', 'b', 'c', 'd']

In [42]:
# nesting lists into eachother
nest = [1, 2, [3, 4]]

In [43]:
nest

[1, 2, [3, 4]]

In [44]:
# grab '4'
nest[2][1]

4

In [45]:
nest = [1, 2, 3, [4, 5, ['target']]]

In [46]:
nest

[1, 2, 3, [4, 5, ['target']]]

In [47]:
nest[3]

[4, 5, ['target']]

In [48]:
print(nest [3][2][0])

target

########

## Dictionaries

In [49]:
d = {'key1': 'value', 'key2': 123}

In [50]:
d

{'key1': 'value', 'key2': 123}

In [51]:
d['key1']

'value'

In [52]:
d['key2']

123

In [53]:
d1 = {'k1': [1,2,3]}

In [54]:
d1['k1']

[1, 2, 3]

In [55]:
d1['k1'][2]

3

In [56]:
my_list = d1['k1'][0]

In [57]:
my_list

1

In [58]:
d2 = {'k1': {'innerkey': [1,2,3]}}

In [59]:
d2['k1']

{'innerkey': [1, 2, 3]}

In [60]:
d2['k1']['innerkey'][1]

2

In [61]:
# booleans

In [62]:
True

True

In [63]:
False

False

In [64]:
# tuples v/s lists
my_list = [1,2,3]

In [65]:
my_list[0]

1

In [66]:
t = (1,2,3)

In [67]:
t[0]

1

In [68]:
# reassign
# list is mutable therefor reassign possible
my_list[0] = 'NEW'

In [69]:
my_list

['NEW', 2, 3]

In [70]:
# tuples are immutable and do not support item assignment
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### SETS

In [71]:
# set
# set is collection of unique elements

In [72]:
{1,2,3}

{1, 2, 3}

In [73]:
{1,1,1,2,2,2,3,3,3,3}

{1, 2, 3}

In [74]:
set([1,1,1,2,2,3,3,3,5,5,5,6,6,6])

{1, 2, 3, 5, 6}

In [75]:
s = {1,2,3}

In [76]:
# add same elements again , wont give error, but returns only once, since unique list of elemets
s.add(5)

In [77]:
s

{1, 2, 3, 5}

In [78]:
s.add(5)

In [79]:
s

{1, 2, 3, 5}

###  Comparison operators

In [80]:
1 > 2

False

In [81]:
1 < 2

True

In [82]:
1 >= 2

False

In [83]:
1<= 1

True

In [84]:
1 == 1

True

In [85]:
1 == 2

False

In [86]:
1 != 3

True

In [87]:
'hi' != 'bye'

True

In [88]:
(1 < 2) and (2 > 3)

False

In [89]:
(1 < 2) or (2 > 3)

True

In [90]:
(1 < 2) or (2 > 3) or (1 == 1)

True

## code blocks - if statements

In [91]:
if 1 < 2:
    print('yep!')

yep!

In [92]:
if True:
    x = 2 + 2
x

4

In [93]:
if False:
    x = 2 + 2
x

4

In [94]:
if 1==2:
    print('First')
else:
    print('Last')

Last

In [95]:
if 1!=2:
    print('First')
else:
    print('Last')

First

In [96]:
if 1==2:
    print('First')
elif 3 == 3:
    print('Middle')
else:
    print('Last')

Middle

In [97]:
if 1==2:
    print('First')
elif 4==4:
    print('Second')
elif 3 == 3:
    print('Middle')
else:
    print('Last')

Second

#######

### for loops and while loops

In [98]:
seq = [1,2,3,4,5]

In [99]:
for item in seq:
    print(item)

1
2
3
4
5

In [100]:
i = 1

while i < 5:
    print('i is: {}'.format(i))
    i = i + 1

i is: 1
i is: 2
i is: 3
i is: 4

In [101]:
# range function

In [102]:
range(0,5)

range(0, 5)

In [103]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [104]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [105]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### list comprehensions

In [106]:
x = [1,2,3,4]

In [107]:
out = []

In [108]:
for num in x:
    out.append(num ** 2)

In [109]:
print(out)

[1, 4, 9, 16]

In [110]:
# helps to do things in one single line
[num**2 for num in x]

[1, 4, 9, 16]

In [111]:
out = [num**2 for num in x]
out

[1, 4, 9, 16]

### functions

In [112]:
def my_func(param1 = 'Default Name'):
    print('Hello ' +  param1)

In [113]:
my_func()

Hello Default Name

In [114]:
my_func('Jose')

Hello Jose

In [115]:
my_func(param1 = 'Jose')

Hello Jose

In [116]:
# return something and doc string

def square(num):
    """
    this is a docstring - multiple lines
    this function returns square
    
    """
    return num ** 2

In [117]:
output = square(2)
print(output)

4

In [118]:
# quick access to documention strings
#square (shift-tab)

square

range

range

########

## map and filter functions
### lambda functions

In [119]:
def times2(var):
    return var*2

In [120]:
times2(5)

10

In [121]:
# map()
# iterator computing function using some sequence or arguments

# mapping a function to every element in the sequence

seq = [1,2,3,4,5]

In [122]:
map(times2,seq)

In [123]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [124]:
# lambda expressions
# rewriting a single function into a single line of clean code


def times2(var):return var*2

In [125]:
lambda var :var*2

In [126]:
t = lambda var :var*2

In [127]:
t(6)

12

In [128]:
list(map(lambda var: var*2, seq))

[2, 4, 6, 8, 10]

In [129]:
# filter
# similar structure to map
# filter out elements from a sequence

filter(lambda var:var%2 == 0, seq)

In [130]:
list(filter(lambda var:var%2 == 0, seq))

[2, 4]

### methods

In [131]:
s = 'Hello my name is Jerry'

In [132]:
s.lower()

'hello my name is jerry'

In [133]:
s.upper()

'HELLO MY NAME IS JERRY'

In [134]:
s.split()

['Hello', 'my', 'name', 'is', 'Jerry']

In [135]:
tweet = 'Go Sports! #Sports'

In [136]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [137]:
tweet.split('#')[1]

'Sports'

In [138]:
d = {'k1':1, 'k2': 2}
d

{'k1': 1, 'k2': 2}

In [139]:
d.keys()

dict_keys(['k1', 'k2'])

In [140]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [141]:
# dictionaries dont retain order
d.values()

dict_values([1, 2])

In [142]:
l = [1,2,3,4,5]
l

[1, 2, 3, 4, 5]

In [143]:
l.pop()

5

In [144]:
l

[1, 2, 3, 4]

In [145]:
first = l.pop(0)
first

1

In [146]:
l.append('new')
l

[2, 3, 4, 'new']

In [147]:
'x' in [1,2,3]

False

In [148]:
'x' in ['x', 'y', 'z']

True

### tuple unpacking

In [149]:
x = [(1,2), (3,4), (5,6)]
x

[(1, 2), (3, 4), (5, 6)]

In [150]:
x[0]

(1, 2)

In [151]:
x[0][1]

2

In [152]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [153]:
for (a,b) in x:
    print(b)

2
4
6

In [154]:
for (a,b) in x:
    print(a)
    print(b)

1
2
3
4
5
6